{% load static %}{% load bootstrap5 %}{% bootstrap_css %}{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'home.css' %}">

<h1>File Upload</h1>
<p class="lead"></b></p>

<!-- Upload  -->

       
<form action="uploadimage/"  id="file-upload-form" class="uploader form" method="post" enctype="multipart/form-data" name="file-upload-form">
   {% csrf_token %}
  <input id="file-upload" type="file" accept=".jpg,.png" name="fileUpload"  />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>
      </progress>
    </div>
    
  </label>
  <div><button class="submit-btn" value="Upload" type="submit" style="margin-top: 44px; background-color: #03838F;  color:white; font-weight:bold; border-radius:4px; outline:none; border:none; height: 40px; width: 78px;">Upload </div>
</form>